{% extends 'layout.html' %}

{%block article%}

<h2>Título do Article</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui aut rerum, ut aspernatur tempore, optio molestias expedita dolorum veniam asperiores exercitationem architecto veritatis maxime error sit dicta? Facilis, earum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui aut rerum, ut aspernatur tempore, optio molestias expedita dolorum veniam asperiores exercitationem architecto veritatis maxime error sit dicta? Facilis, earum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui aut rerum, ut aspernatur tempore, optio molestias expedita dolorum veniam asperiores exercitationem architecto veritatis maxime error sit dicta? Facilis, earum.</p>

{%end block%}


{%block aside%}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui aut rerum, ut aspernatur tempore, optio molestias expedita dolorum veniam asperiores exercitationem architecto veritatis maxime error sit dicta? Facilis, earum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui aut rerum, ut aspernatur tempore, optio molestias expedita dolorum veniam asperiores exercitationem architecto veritatis maxime error sit dicta? Facilis, earum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui aut rerum, ut aspernatur tempore, optio molestias expedita dolorum veniam asperiores exercitationem architecto veritatis maxime error sit dicta? Facilis, earum.</p>

{%end block%}
