<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/templates/layout.css">

    {# faz a carga do css adicional caso exista #}
    {% if page.css %}
    <link rel="stylesheet" href="/static/css/{{page.css}}">

    {% endif %}
    <title>{{ page.title }}</title>

</head>

<body>
    
    <header>Logo e Cabeçalho</header>

    <nav>
        <a href="/">Início</a>
        <a href="/contacts">Contatos</a>
        <a href="/about">Sobre</a>
    </nav>

    <main>
        <article>{%block article%}{%endblock%}</article>
        <aside>{%block aside%}{%endblock%}</aside>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/layout.js"></script>
    {% if page.css %}
    <link rel="stylesheet" href="/static/js/{{page.js}}">

    {% endif %}     

    





</body>
</html>